@media (max-width: 1300px) {
	.container{
		width: 950px;
	}
}

@media (max-width: 1000px) {
	.container{
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
	}

	.portfolio_works_block{
		grid-template-columns: 50% 50%;
	}

	.whos_me_block{
		margin-bottom: 50px;
	}
	.about_me_block>.flex-between{
		flex-wrap: wrap;
	}
	.advantage{
		margin-top: 30px;
		width: calc(50% - 15px);
	}

	#modal_window1 .modal_window{
		width: calc(100% - 100px);
	}
}

@media (max-width: 700px) {
	.container{
		padding-left: 25px;
		padding-right: 25px;
	}

	.banner_text{
		font-size: 28px;
	}
	.block_title{
		font-size: 36px;
	}
	.block_subtitle{
		font-size: 20px;
	}

	.whos_me_block{
		width: 100%;
	}
	.whos_me_img{
		width: 150px;
		height: 150px;
	}
	.advantage{
		width: 100%;
	}
	.portfolio_works_block{
		grid-template-columns: 100%;
	}
	.contacts form{
		width: 100%;
	}

	#modal_window1 .modal_window{
		width: calc(100% - 50px);
	}
	.swiper-button-next:after, .swiper-button-prev:after{
		font-size: 26px;
	}
	#modal_window1 .swiper-button-next, #modal_window1 .swiper-button-prev{
		width: 50px;
	}
	.close_btn{
		right: 20px;
		top: 20px;
	}
}

@media (max-width: 480px) {
	.container{
		padding-left: 15px;
		padding-right: 15px;
	}

	.banner_btn{
		width: calc(100% - 30px);
	}

	.footer_icon{
		margin-left: 5px;
		margin-right: 5px;
	}

	.modal_window_text{
		padding: 20px;
	}
	.modal_window_title{
		font-size: 22px;
	}
	.modal_window_subtitle{
		font-size: 16px;
	}
	.modal_window_view_btn{
		width: 100%;
		text-align: center;
	}
}